<!-- ส่วนของ Layout หลัก ถ้ามี -->
<header>
  <h1>My Product Management App</h1>
</header>

<main>
  <!-- router-outlet จะทำหน้าที่แสดงคอนเทนต์ของหน้าแต่ละหน้า -->
  <router-outlet></router-outlet>
</main>

<footer>
  <p>© 2024 My Product Management App</p>
</footer>



<!-- <div> -->
  <!-- Preview of Selected Images -->
  <!-- <div *ngIf="imagePreviews.length > 0">
    <h2>Image Previews:</h2>
    <div *ngFor="let preview of imagePreviews">
      <img [src]="preview" alt="Image Preview" style="max-width: 200px; margin: 10px;">
    </div>
  </div>
</div> -->


<!-- app.component.html -->
<!-- <div *ngFor="let product of products">
  <h1> {{ product._id }} </h1>
  <h2>{{ product.name }}</h2>
  <p>{{ product.description }}</p>
  <p>Price: {{ product.price }}</p>
  <p>Quantity: {{ product.quantity }}</p>

  <div *ngFor="let image of product.images">
    <img [src]=image alt="{{ product.name }}" width="100" />
  </div>
</div> -->
